body {
	font-family: var(--primary-font);
	background-color: var(--primary-background-color);
	color: var(--primary-text-color-theme-light);
 }
 
 body.no-scroll {
	overflow: hidden;
}
 
 h1,
 h2,
 h3,
 h4,
 p {
	margin-top: 0;
	margin-bottom: 0;
 }
 
 ul,
 ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
 }
 
 .link {
	text-decoration: none;
 }
 
 .list {
	list-style: none;
 }
 
 img {
	display: block;
 }
 button {
	cursor: pointer;
	border: 0;
 }

  